@font-face {
  font-family: 'tron';
  src: url('./src/font/Tr2n.ttf');
}

body{
  font-family: 'tron';
  margin: 0;
}

#mainContainer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.521); */
    justify-content: center;
    background-image:url('./src/gamebackground.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player{
  color:#FFCC00;
}

#playerImg{
  width: 100%;
}

#playerTurn{
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  bottom: 30%;
  left: 0;
}

#caixaContainer{
    position: absolute;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    width: 50%;
    height: 60%;
    justify-content: center;
 bottom: 0;
 /* para os discos não pegarem o click */
 pointer-events: none;
}

.caixa{
    /* background-color: rgba(31, 27, 27, 0.603); */
    position: absolute;
    width:12%;
    height: 15%;
    box-sizing: border-box;
    border: solid blue 0px;
    z-index: 2;
    /* border-radius: 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
/* para os discos não pegarem o click */
    pointer-events: none;
}
.caixa1{
    background-image:url('src/discPlayer1.png'); 
    background-size: 120% 120%;
    background-repeat: no-repeat;
}
.caixa2{
    background-image:url('src/discPlayer2.png'); 
    background-size:  120% 120%;
    background-repeat: no-repeat;
}

.imgContainner{
  background-image: url('src/tenor.gif');
  width:12%;
  height: 15%;
  box-sizing: border-box;
  border: solid blue 0px;
  z-index: 2;
  margin: 0.4%;
  border-radius:100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
 /* width: 5.7%;
    height: 22.1%; */

#buttonsBox {
  display: flex;
  position: absolute;
  /* background-color: rgb(71, 89, 146); */
  width:45%;
  height: 100%;
}

.columnButtons {
  z-index: 4;
  flex: 1;
  box-sizing: border-box;
  height: 99%;
}
.columnButtons:hover{
  background-color: rgba(47, 241, 105, 0.219);
}
#winner{
  display:none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}
#draw{
  display:none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#recomecar {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 13%;
  height: 75px;
  z-index: 5;
  right: 2%;
  bottom: 2%;
	font-weight: 700;
  margin: 16px auto;
	padding: 16px;
	color: #FFCC00 !important;
	overflow: hidden;
	background: none;
	box-shadow: 0 0 0 0 #DF740C;
  border: 1px solid #FFE64D;
  font-size: 18px;
}

#recomecar::after , #placar::after {
 background: #FFE64D none repeat scroll 0 0;
 content: "";
 border: 1px solid #DF740C;
 height: 155px;
 left: -75px;
 opacity: 0.2;
 position: absolute;
 top: -50px;
 transform: rotate(35deg);
 transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 width: 50px;
 z-index: 10;
 
}
#recomecar:hover, #placar::hover {
	transition: all 0s ease-in-out 0s;
	box-shadow: 0 0 5px 0 #DF740C;
}
#recomecar:hover::after, #placar:hover:after {
 left: 120%;
 background: #F1A229;
  border: 1px solid #DF740C;
 transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

#timer {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 6.5%;
  height: 30px;
  z-index: 5;
  right: 2%;
  top: 2%;
	font-weight: 700;
  margin: 16px auto;
	padding: 12px;
	color: #FFCC00 !important;
	overflow: hidden;
	background: none;
	box-shadow: 0 0 0 0 #DF740C;
  border: 1px solid #FFE64D;
  text-align: center;
  font-size: 20px;
}

#placar {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 5;
  width: 14%;
  height: fit-content;
  left: 0;
  top: 35%;
	font-weight: 700;
  margin: 16px 0.5%;
	color: #FFCC00 !important;
	overflow: hidden;
  background:none;
	box-shadow: 0 0 0 0 #DF740C;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-flow: column;
}
#placar :nth-child(1), #placar :nth-child(2){
  background: none;
  font-size: 15px;

  box-shadow: 0 0 0 0 #DF740C;
}
#player1 , #player2{
  background: none;
  text-align: center;
}

/* ANIMACAO */
.divAnimation {
  width:75%;
  height: 7%;
  margin: 10%;
  animation: upDown 3s ;
  background-position: center;
}

/* @keyframes upDown{
  0%{transform: translateY(0);}
  100%{transform: translateY(580px);}
} */

#recognizerHead{
position: absolute;
width: 100%;
height: 100%;

  z-index: 5;
  background-image:url("./src/recognizerHead1.png"); 
  background-size: 80% 40%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  pointer-events: none;


}

.resetRec{
  animation-name: elev;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes elev {
  0% {
    background-position: 50% 0%;
  }
  50%{
    background-position: 50% 100%;
  }
  100%{
    background-position: 50% 0%;
  }
}

#rigthLegs{
    background-image:url("./src/rightLeg1.png"); 
    background-position: 80.5% 0%;

}
#leftLegs{
    background-image:url("./src/leftLeg1.png"); 
    background-position: 19% 0%;

}

.legs{
  position: absolute;
  width: 100%;
  height:  100%;
  z-index: 5;
  background-size:22% 110% ;
    background-repeat: no-repeat;
    pointer-events: none;
}

#startScreen{
  display: flex;
  align-self: center;
  position: absolute;
  width: 100%;
  height:  100%;
  background-color: black;
  z-index: 10;
}
#startScreen video{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#startButton{
  display: none;
  position: absolute;
  border: none;
  z-index: 10;
  width: 25%;
  height: 30%;
  top: 60%;
  left: 50%;
  transform: translate(-45%);
  outline: none;
  background-color: rgba(250, 235, 215, 0);
  background-image: url("./src/gameStart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  animation-name: pisca;
  animation-delay: 0.2s;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#startButton h1{
  font-family:tron;
  font-size: 50px;
  color: aqua;
  }

#titleGame{
  display: none;
  position: absolute;
  width: 50%;
  height: 30%;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  background-image: url("./src/lig-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#titleGame h1{
  font-family:tron;
  font-size: 50px;
  color: aqua;
  }



@keyframes pisca {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Appear {
  animation-name: Appear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}


@keyframes Appear {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

